<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780915944359-3qb3l2glg4sn4nm8ms5rvqieolhu1733.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780915944359-3qb3l2glg4sn4nm8ms5rvqieolhu1733</string>
	<key>API_KEY</key>
	<string>AIzaSyCkw2nTkKDYrwuPGOCdH0LWDGF61SPKtRM</string>
	<key>GCM_SENDER_ID</key>
	<string>780915944359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Fiona.OrientationTrackerPhone</string>
	<key>PROJECT_ID</key>
	<string>orientationtracker</string>
	<key>STORAGE_BUCKET</key>
	<string>orientationtracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780915944359:ios:5a757cb7fb1ae2f2806482</string>
</dict>
</plist>